In [27]:
import pandas as pd
import os
import re

In [3]:
power_play_info = pd.read_csv('../TrackingData/pp_info.csv')

In [6]:
power_play_info.head(10)

,game_name,penalty_number,start_video_clock_seconds,end_video_clock_seconds,start_period,end_period,start_game_clock_seconds,end_game_clock_seconds
0,2022-02-08 Canada at USA,1,1278,1314,1,1,386,350
1,2022-02-08 Canada at USA,2,1624,1744,1,1,216,96
2,2022-02-08 Canada at USA,3,409,562,2,2,991,871
3,2022-02-08 Canada at USA,4,898,898,2,2,613,613
4,2022-02-08 Canada at USA,5,1690,1927,2,2,272,152
5,2022-02-08 Canada at USA,6,1081,1146,3,3,545,480
6,2022-02-08 Canada at USA,7,1837,1957,3,3,157,37
7,2022-02-08 ROC at Finland,1,1671,1740,1,1,192,123
8,2022-02-08 ROC at Finland,2,222,260,2,2,1059,1021
9,2022-02-08 ROC at Finland,3,436,440,2,2,905,901

In [33]:
# game_folders = []
# path = '../TrackingData'
# for thing in os.listdir(path):
#     if os.path.isdir(os.path.join(path, thing)):
#         game_folders.append(thing)

pbp_df = pd.DataFrame()

path = '../TrackingData/2022-02-08 Canada at USA'
m1 = re.search('2022-02-\d{2} ([A-Za-z]+ at [A-Za-z]+)', path)
away_team_at_home_team = m1.group(1)
for filename in os.listdir(path):
    if re.match('2022-02', filename): # re.match only finds the pattern if it starts at the beginning of the string
        pbp_df = pd.read_csv(os.path.join(path, filename))

In [34]:
pbp_df

,frame_id,period,track_id,team_id,team_name,jersey_number,x_ft,y_ft
0,301,1,1,Light,Canada,6,171.071705,46.072340
1,301,1,2,Dark,USA,2,194.278571,41.647639
2,301,1,3,Dark,USA,37,194.258524,47.182641
3,301,1,4,Light,Canada,11,202.732672,67.352362
4,301,1,5,Dark,USA,28,174.116300,38.757970
...,...,...,...,...,...,...,...,...
6419,1068,1,42,Light,Canada,100,181.835108,66.664795
6420,1068,1,25,Dark,USA,19,185.358354,50.009070
6421,1068,1,48,Light,Canada,100,202.806525,54.581122
6422,1068,1,49,Dark,USA,5,190.454145,53.172723
6423,1068,1,52,Dark,USA,100,193.791578,46.843247